*{
    text-align: center;
}

#outerContainer{
    /* height: 35rem; */
    height: 97vh;
    width: 40rem;
    border: 1px solid black;
    border-radius: 1rem;
    overflow: auto;
}

#innerContainer2{
    margin: auto;
    margin-top: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.15rem;
    border: 1px solid black;
    width: 20rem;
    height: 3rem;
    border-radius: 12rem;
    background-color: #ededed;
}

#inputElement{
    text-align: left;
    padding-left: 0.5rem;
    height: 1.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    outline: none;
    border: none;
    margin-left: 1rem;
    background-color: #ededed;
}

#buttonElement{
    font-size: 1.2rem;
    height: 3rem;
    border-radius: 12rem;
    width: 6rem;
    background-color: #0098f1;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonElement:hover{
    background-color: #1161da;
}

#innerContainer1{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    font-size: 2rem;
}

#innerContainer1 svg{
    font-size: 2rem;
}

#innerContainer1 h3{
    font-size: 1.5rem;
    margin: 0.75rem auto;
}

#innerContainer3 ul{
    padding: 0 3rem;
    font-size: 1.25rem;
}

#innerContainer3 ul li{
    display: flex;
    justify-content: space-between;
    list-style: disc;
    margin-bottom: 0.5rem;
}

#innerMostDiv1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

#innerMostDiv1 button{
    display: flex;
    align-items: center;
    border: none;
    background-color: unset;
}

#innerMostDiv1 span{
    text-align: left;
}

#innerMostDiv2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 4rem;
}

#innerMostDiv2 button{
    font-size: 1rem;
    min-height: 2rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    background-color: unset;
    border: none;
}

#innerMostDiv2 button:hover{
    background-color: #e3e3e3;
}

#innerContainer4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#innerContainer4 button{
    font-size: 1rem;
    height: 2rem;
    border-radius: 2rem;
}

#innerContainer4 button:hover{
    background-color: #e3e3e3;
}

@media(max-width: 700px){
    #outerContainer{
        width: 30rem;
    }

    #innerContainer3 ul{
        padding: 0 2rem;
    }
}

@media(max-width: 500px){
    #outerContainer{
        width: 25rem;
    }

    #innerContainer3 ul{
        padding: 0 0.8rem;
    }
}